
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h2 class="masthead-brand">Mediathéque</h2>

                    <ul class="nav masthead-nav">
                        <li><a href="{{path('demo_livres')}}">Nos livres</a></li>
                        <li><a href="{{path('demo_membres')}}">Nos membres</a></li>
                        <li><a href="{{path('demo_contact')}}">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner cover" style="background-color:black;">
                <h1 class="cover-heading"> Bienvenue ! </h1>

                <p class="lead">

                    Ce site est presenté dans le cadre du cours de web service ! <br/> <br/>
                <p>Objectifs :<br/></p>
                <p>
                <li>Réaliser un web service avec une technologie de son choix , nous avons opté pour du PHP avec le framework Symphony</li>
                <li>Réaliser une documentation concernant le web service réalisé</li>
                <li>Travailler en mode projet</li>
                </p>
            </div>

        </div>
    </div>
</div>

